@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2"),
    url("../fonts/ptsans.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2"),
    url("../fonts/ptsansbold.woff");
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  overflow: hidden;
  clip: rect(0 0 0 0);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.total-wrap {
  position: relative;
  margin: 0 auto;
  width: 1200px;

  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);

          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

/*HEADER*/

.header-index,
.header-hotels {
  position: relative;

  margin: 0;
  padding: 0;
  width: 100%;

  background-color: #ffffff;
}

.logo-wrap {
  position: absolute;
  left: 531px;
  z-index: 5;

  width: 138px;
  height: 71px;

}

.nav-index,
.nav-hotels {
  width: 100%;
}

.user-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  list-style: none;
}

.user-nav li {
  margin: 0;
  margin-left: 73px;
  margin-right: 67px;
  padding: 0;
  width: 100px;
}

.user-nav li:nth-child(2) {
  margin-right: 296px;
}

.user-nav li:nth-child(4) {
  margin-left: 0px;
  margin-right: 0px;

  text-align: right;
}

.user-nav li:nth-child(3) {
  text-align: right;
  margin-right: 147px;
}

.user-nav-item {
  color: #000000;
  white-space: nowrap;
}

.user-nav-item:hover,
.user-nav-item:focus {
  color: #81b3d2;
}

.user-nav-item:active {
  color: #000000;
  opacity: 0.3;
}

.current-page,
.current-page:hover,
.current-page:focus,
.current-page:active {
  color: #766357;
  opacity: 1;
}

/*MAIN*/
/*Index*/

.main-index,
.main-hotels {
  margin: 0;
  padding: 0;
  width: 100%;

  background-color: #ffffff;

}

.welcome-wrap {
  width: 1200px;
  height: 509px;

  background-color: #9dc1d9;
  background-image: url("../img/welcome.svg"),
    url("../img/polygon-mask.svg"),
    url("../img/background-photo.jpg");
  background-position: center center,
    center 451px,
    center -55px;
  background-size: 460px 353px,
    1200px 60px,
    1200px 773px;
  background-repeat: no-repeat;

}

/*Features*/



.description {
  width: 100%;
}

.description-intro {
  width: 100%;
  padding-top: 59px;
  margin-bottom: 52px;
}

.description-intro p {
  margin: 0;
  padding: 0;

  text-align: center;
}

.description-intro p:nth-child(1) {
  margin: 0 291px;
  margin-bottom: 31px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  word-spacing: 2.5px;
}

.description-intro p:nth-child(2) {
  letter-spacing: 0.1px;
  color: #333333;
}

/*Features list*/

.features-list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  list-style: none;
}

.features-list-item:not(:nth-child(1)):not(:nth-child(2)) {
  width: 400px;

  text-align: center;

  background-color: #eeeeee;
}

.features-list-item:not(:nth-child(1)):not(:nth-child(2)) .feautre-content   {
  padding-top: 48px;
  padding-bottom: 59px;
}

.features-list-item:not(:nth-child(1)):not(:nth-child(2)) .feature-heading{
  margin: 0 130px;
  margin-bottom: 22px;
}

.features-list-item .feature-decription {
  margin: 0 60px;
}

.features-list-item:nth-child(4) .feature-decription {
  margin: 0 65px;
}

.features-list-item:nth-child(5) .feature-decription {
  margin: 0 71px;
}

.features-list-item:nth-child(1),
.features-list-item:nth-child(2) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-list-item:nth-child(1) .feautre-content,
.features-list-item:nth-child(2) .feautre-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feautre-content-wrap {
  width: 400px;
  padding-top: 46px;
  padding-bottom: 57px;

  color: #ffffff;
  text-align: center;

  background-color: #81b3d2;
}

.feature-pic {
  width: 800px;
  height: 256px;

  background-color: #dacbca;
}

.feature-heading {
  margin: 0;
  margin-bottom: 24px;

  font-size: 21px;
  line-height: 21px;
}

.number {
  display: block;
  margin-bottom: 22px;

  font-family: "PT Sans", Arial, Tahoma, sans-serif;
  font-weight: 400;
}

.feature-decription {
  margin: 0;

  font-family: "PT Sans", Arial, Tahoma, sans-serif;
  font-weight: 400;
}

.features-list-item:nth-child(1) .feature-heading,
.features-list-item:nth-child(2) .feature-heading {
  margin-left: 125px;
  margin-right: 125px;
}

.features-list-item:nth-child(1) .feature-decription,
.features-list-item:nth-child(2) .feature-decription {
  margin: 0 50px;
}

.real-features {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  list-style: none;
}

.real-features-item {
  width: 400px;
  padding-top: 162px;
  padding-bottom: 82px;

  text-align: center;
}

.real-features-item h4 {
  position: relative;

  margin: 0;
  margin-bottom: 23px;

  font-size: 21px;
}

.real-features-item h4::before {
  position: absolute;
  content: "";
}

.real-features-item:nth-child(1) h4::before {
  top: -102px;
  left: 161px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.real-features-item:nth-child(2) h4::before {
  top: -102px;
  left: 162px;

  width: 75px;
  height: 72px;

  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.real-features-item:nth-child(3) h4::before {
  top: -106px;
  left: 167px;

  width: 75px;
  height: 76px;

  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.real-features-item p {
  margin: 0 50px;

  font-weight: 400;
}

.features-list-item:nth-child(2) .feautre-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.features-list-item:nth-child(2) .feature-decription {
  margin: 0 40px;
}

.features-list-item:nth-child(2) .feature-pic {
  width: 800px;
  height: 256px;

  background-color: #e37f56;
}



/*locations*/

.locations {
  position: relative;

  width: 100%;
  padding-top: 50px;

  text-align: center;
}

.ask {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-size: 30px;
  line-height: 36px;
}

.locations p {
  margin: 0 380px;
  margin-bottom: 47px;

  line-height: 23px;
  font-weight: 400;
}

.oneline {
  display: block;

  white-space: nowrap;
}

.hotel-search-wrap {
  height: 86px;
  margin: 0 315px;

}

.hotel-search {
  display: block;
  padding: 30px 140px;



  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;
}

.hotel-search:hover,
.hotel-search:focus {
  background-color: #604e43;
}

.hotel-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

/*popup conditions*/

@-webkit-keyframes openPop{
  0%{
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
  100%{
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
}

@keyframes openPop{
  0%{
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
  100%{
    -webkit-transform: scaleY(100%);
            transform: scaleY(100%);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
}

@-webkit-keyframes close{
  0%{

    -webkit-transform: scaleY(100%);

            transform: scaleY(100%);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
  100%{
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
}

@keyframes close{
  0%{

    -webkit-transform: scaleY(100%);

            transform: scaleY(100%);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
  100%{
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top center;
            transform-origin: top center;
  }
}

@-webkit-keyframes error{
  10%,
  30%,
  50%,
  70%,
  90%{
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  0%,
  20%,
  40%,
  60%,
  80%,
  100%{
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@keyframes error{
  10%,
  30%,
  50%,
  70%,
  90%{
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  0%,
  20%,
  40%,
  60%,
  80%,
  100%{
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

/*Pop-up*/

.search-area {
  display: block;
  position: absolute;
  top: 290px;
  left: 316px;

  width: 568px;

  visibility: visible;
  opacity: 1;

  background-color: #ffffff;

  -webkit-box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);

          box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);

  -webkit-animation-name: openPop;

          animation-name: openPop;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;

}

.search-area-hide{
  -webkit-animation-name: close;
          animation-name: close;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.5s, opacity 0.5s linear;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.search-area-error{
  -webkit-animation-name: error;
          animation-name: error;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.search-area form {
  width: 100%;
  padding: 56px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-area p {
  position: relative;

  margin: 0;

  text-align: left;

}

.time-in label,
.time-out label {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.adults label,
.kids label {
  margin-top: 7px;

  font-size: 14px;
  font-weight: 700;
}

.time-in,
.time-out,
.find-hotels-button {
  width: 100%;
}

.search-area .time-in,
.search-area .time-out {
  margin: 0;
  margin-bottom: 30px;
}

.search-area .adults,
.search-area .kids {
  margin: 0;
  margin-bottom: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.search-area input {
  margin: 0;
  width: 346px;
  height: 38px;
  padding: 13px;

  font-family: "PT Sans", Arial, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 700;

  border: none;
  background-color: #f2f2f2;
}

.time-in input,
.time-out input {
  width: 346px;
  margin-right: -20px;
}

.time-in label {
  margin-right: 15px;
}

.calendar-button {
  position: absolute;
  top: 6px;
  right: 15px;

  width: 21px;
  height: 22px;

  border: none;
  background-color: transparent;
}

.calendar-button svg {
  fill: #a9a9a9;
}

.time-out label {
  margin-right: 12px;
}

.adults input,
.kids input {
  width: 38px;
  padding-right: 11px;
  padding-left: 15px;
}

.button-minus,
.button-plus {
  position: relative;

  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;

  border: none;

  background-color: #f2f2f2;

  vertical-align: top;
}

.button-minus::before {
  position: absolute;
  content: "";
  top: 17px;
  left: 15px;

  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}

.button-plus::before {
  position: absolute;
  content: "";
  top: 17px;
  left: 15px;

  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}

.button-plus::after {
  position: absolute;
  content: "";
  top: 13px;
  right: 16px;

  width: 3px;
  height: 11px;

  background-color: #a9a9a9;
}

.adults label {
  margin-right: 40px;
}

.search-area .adults {
  margin-right: 55px;
}

.kids label {
  margin-right: 25px;
}

.find-hotels-button {
  padding-top: 16px;
  padding-bottom: 16px;

  font-family: "PT Sans", Arial, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  border: none;
  background-color: #81b3d2;
}

.search-area input:hover {
  background-color: #ebebeb;
}

.search-area input:focus {
  background-color: #ffffff;

  -webkit-box-shadow: inset 0 0 0 2px #ebebeb;

          box-shadow: inset 0 0 0 2px #ebebeb;
}

.calendar-button:hover svg,
.calendar-button:focus svg {
  fill: #000000;
}

.calendar-button:active svg {
  fill: #81b3d2;
}

.button-minus:hover::before,
.button-minus:focus::before,
.button-plus:hover::before,
.button-plus:focus::before,
.button-plus:hover::after,
.button-plus:focus::after {
  background-color: #000000;
}

.button-plus:active::before,
.button-plus:active::after,
.button-minus:active::before {
  background-color: #81b3d2;
}

.find-hotels-button:hover,
.find-hotels-button:focus {
  background-color: #669ec0;
}

.find-hotels-button:active {
  color: rgba(255, 255, 255, 0.3);
}



/*Map*/

.map {
  width: 100%;
  height: 593px;

  background-image: url("../img/map.png");
  background-repeat: no-repeat;
}

.map iframe {
  width: 100%;
  height: 593px;
  background-color: transparent;
  border: none;
}

/*Footer*/

.footer-index,
.footer-hotels {
  width: 100%;
  padding: 30px 73px;
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  background-color: #ffffff;
}

.footer-index{
  position: absolute;
  bottom: 0;
  opacity: 0.9;
}

.hashtag-wrap,
.socials,
.wrap-academy-logo {
  width: 240px;
}

.hashtag-wrap {
  padding-top: 5px;
  padding-left: 60px;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.socials {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  list-style: none;
}

.socials li {
  margin: 0 3px;
  padding: 0;
  width: 46px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-item {
  width: 46px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  background-color: #81b3d2;
}

.socials-item:focus,
.socials-item:hover {
  background-color: #669ec0;
}

.socials-item:active img {
  opacity: 0.3;
}

.wrap-academy-logo {
  padding-top: 5px;
  padding-left: 15px;
}

.academy-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  color: #000000;
  font-weight: 400;
}

.academy-logo span {
  margin-right: 10px;
}

.academy-logo svg {
  fill: #000000;
}

.academy-logo:hover svg,
.academy-logo:focus svg {
  fill: #81b3d2;
}

.academy-logo:active svg {
  fill: #bdbbbc;
}

/*HOTELS*/
/*filter*/

.filters {
  width: 1200px;

  background-color: #2c4e69;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 -50px;
}

.filters form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 28px 72px;
}

.filters fieldset {
  padding: 0;
  margin: 0;
  min-width: 255px;
  border: none;
}

.filters legend {
  color: #ffffff;
  font-size: 16px;
}

.infrastructure-filter legend {
  margin-bottom: 25px;
}

.infrastructure-filters-list {
  margin: 0;
  padding: 0;
  padding-left: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 115px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;


  color: #ffffff;
  list-style: none;
}

.infrastructure-filters-list li:not(:last-child) {
  margin-bottom: 25px;
}

.filters .type-filter {
  margin-right: 228px;
}

.type-filter legend {
  margin-bottom: 25px;
}

.type-filters-list {
  margin: 0;
  padding: 0;
  padding-left: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 115px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;


  color: #ffffff;
  list-style: none;
}

.type-filters-list li:not(:last-child) {
  margin-bottom: 25px;
}

.price-filter legend {
  margin-bottom: 9px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 318px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 20px;

  border: 2px solid #ffffff;
  border-radius: 3px;
  color: #ffffff;
}

.price-controls label {
  width: 50%;
  padding-left: 55px;
}

.price-controls label:first-child {
  padding-left: 65px;
}

.price-controls input {
  border: none;
  margin: 0;
  padding: 0;
  width: 70%;

  color: #ffffff;

  border: none;
  background-color: transparent;
}

.infrastructure-filter-item,
.type-filter-item {
  position: relative;
  cursor: pointer;
}

.infrastructure-filter-item::before,
.type-filter-item::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  left: -40px;
  top: -3px;

  background-image: url("../img/checkbox-off.svg");
}

.filters input[type="checkbox"]:checked+label::before {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
}

.filters input[type="checkbox"]:disabled+label::before {
  background-image: url("../img/checkbox-off-dis.svg");
}

.filters input[type="checkbox"]:disabled:checked+label::before {
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on-dis.svg");
}

.filters input[type="checkbox"]:focus+label{
  outline-color: rgb(204, 219, 243);
  outline-offset: 2px;
  outline-style: auto;
  outline-width: 5px;
}

.filters .price-filter {
  margin-bottom: 20px;
}

.price-range {
  position: relative;
  padding-left: 10px;
  padding-bottom: 10px;
}

.range {
  height: 2px;
  width: 308px;

  background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 1) 252px, rgba(255, 255, 255, 0.3) 253px, rgba(255, 255, 255, 0.3) 308px);
}

.bottom-point,
.top-point {
  position: absolute;
  content: "";
  width: 20px;
  height: 22px;
  border-radius: 50%;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  cursor: pointer;
}

.bottom-point:hover,
.top-point:hover {
  width: 22px;
  height: 24px;
}

.bottom-point {
  left: 1px;
  top: -10px;
}

.top-point {
  right: 45px;
  top: -10px;
}

.filters button {
  display: block;
  margin: 0;
  margin-left: 85px;
  width: 138px;
  border-radius: 3px;
  padding: 7px;
  padding-top: 10px;
  border: none;
  border: 2px solid #ffffff;

  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
}

.filters button:hover,
.filters button:focus {
  background-color: #ffffff;
  color: #000000;
}

/*Hotels catalog*/

.catalog{
  padding: 0 72px;
}

/*Sorting*/

.result-sorting-wrap{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-height: 87px;
  padding-top: 32px;
}

.result-sorting-wrap::after{
  position: absolute;
  bottom: 0px;
  left: -72px;
  content: "";
  width: 1200px;
  height: 1px;
  background-color: #e5e5e5;
}

.result{
  margin: 0;
  padding: 0;
  margin-right: 48px;

  font-size: 21px;
  white-space: nowrap;
}

.sorting{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 890px;
}

.sorting h2{
  margin: 0;
  padding: 0;
  padding-top: 4px;
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 2px;
  list-style: none;
}

.sorting-list-item{
  margin: 0;
  padding: 0;

  border-bottom: 1px dotted #81b3d2;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.sorting-list-item:focus,
.sorting-list-item:hover{
  color: #81b3d2;
}

.sorting-list-item:active{
  color: #000000;
  border: none;
}

.current-sorting {
  border: none;
  opacity: 1;
  color: #81b3d2;
}

.sorting-list li:not(:last-child){
  margin-right: 33px;
}

.sorting-direction{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: auto;

  padding: 0;
  padding-top: 3px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35px;

  list-style: none;
}

.sorting-direction-item{
  width: 11px;
  height: 11px;
}

.sorting-direction-item svg{
  fill: #cacaca;
}

.current-direction svg{
  fill: #81b3d2;
}

.sorting-direction-item:hover svg,
.sorting-direction-item:focus svg{
  fill: #000000;
}

.current-direction:hover svg,
.current-direction:focus svg{
  fill: #81b3d2;
}


.sorting-direction-item:active svg{
  fill: #81b3d2;
}

/*Catalog*/

.hotels-list{
  margin: 0;
  padding: 0;

  list-style: none;
}

.hotels-list li{
  position: relative;
  margin-bottom: 1px;
}

.hotels-list li::after{
  position: absolute;
  bottom: 0px;
  left: -72px;
  content: "";
  width: 1200px;
  height: 1px;
  background-color: #e5e5e5;
}

.hotels-list li:nth-child(3)::after{
  bottom: -1px;
}

.hotels-list-item{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-bottom: 30px;
}

.rating{
  margin-left: auto;
  padding-top: 5px;
}

.stars{
  height: 20px;
  margin-bottom: 45px;

  background-image: url("../img/star.svg");
  background-repeat: space;
}

.four-stars{
  width: 89px;
  margin-left: 22px;
}

.three-stars{
  width: 65px;
  margin-left: 46px;
}

.two-stars{
  width: 41px;
  margin-left: 70px;
}

.rating-text{
  width: 111px;
  padding-left: 16px;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-right: 12px;

  font-weight: 400;

  background-color: #f2f2f2;
}

.hotel-picture{
  width: 135px;
  height: 90px;
  margin-right: 30px;
  margin-top: 5px;
}

.hotel-name{
  margin: 0;
  margin-bottom: 8px;

  font-size: 21px;
  line-height: 26px;
  letter-spacing: 0.3px;
  color: #000000;
}

.hotel-name a{
  color: #000000;
}

.hotel-name a:focus,
.hotel-name a:hover{
  color: #81b3d2;
}

.hotel-name a:active{
  color: #000000;
  opacity: 0.3;
}

.type-price{
  margin: 0;
  margin-bottom: 17px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.more,
.book{
  padding: 4px 17px;
  padding-bottom: 5px;

  color: #ffffff;
}


.more{
  background-color: #81b3d2;
  margin-right: 2px;
}

.more:focus,
.more:hover{
  background-color: #669ec0;
}

.more:active{
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.book{
  background-color: #766357;
}

.book:focus,
.book:hover{
  background-color: #604e43;
}

.book:active{
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
/*END*/
