/* open-sans-regular - latin_cyrillic-ext */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v17-latin_cyrillic-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v17-latin_cyrillic-ext-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin_cyrillic-ext-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-latin_cyrillic-ext-regular.woff") format("woff"), url("../fonts/open-sans-v17-latin_cyrillic-ext-regular.ttf") format("truetype"), url("../fonts/open-sans-v17-latin_cyrillic-ext-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-600 - latin_cyrillic-ext */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v17-latin_cyrillic-ext-600.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/open-sans-v17-latin_cyrillic-ext-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v17-latin_cyrillic-ext-600.woff2") format("woff2"), url("../fonts/open-sans-v17-latin_cyrillic-ext-600.woff") format("woff"), url("../fonts/open-sans-v17-latin_cyrillic-ext-600.ttf") format("truetype"), url("../fonts/open-sans-v17-latin_cyrillic-ext-600.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

body {
  background-repeat: no-repeat;
  background-position: center -80px; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); }

html {
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #A6AAB7;
  background-color: #161929; }

a {
  text-decoration: none;
  color: #A6AAB7; }
  a:hover, a:focus {
    opacity: 0.7; }
  a:active {
    opacity: 0.4; }

button:hover, button:focus {
  opacity: 0.7; }

button:active {
  opacity: 0.4; }

.footer {
  background-color: #0F111D; }

.footer__wrapper {
  max-width: 1433px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media (min-width: 768px) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 22px;
    padding-left: 25.5%;
    padding-right: 2.8%; } }

@media (min-width: 1440px) {
  .footer__wrapper {
    padding-left: 485px;
    padding-right: 45px; } }

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center; }
  .footer-list--about {
    flex-direction: column;
    margin-bottom: 10px; }

.footer-list__link {
  font-size: 16px;
  line-height: 22px; }

@media (min-width: 768px) {
  .footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center; }
    .footer-list--about {
      flex-direction: row;
      width: 500px; }
    .footer-list--socials {
      width: 18.55%;
      margin-left: 20px; } }

@media (min-width: 1440px) {
  .footer-list--about {
    width: 54%; }
  .footer-list--socials {
    width: 18.55%; } }

.header {
  background-color: #0F111D; }

.header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1423px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 10px; }

.header__logo-header {
  margin-top: 5px;
  margin-left: 65px;
  order: 2; }

.header__nav {
  margin-top: 4px;
  order: 1; }

.header__user-nav {
  order: 3; }

@media (min-width: 768px) {
  .header__wrapper {
    padding-right: 42px;
    padding-left: 40px;
    padding-top: 22px;
    padding-bottom: 15px; }
  .header__nav {
    order: 1; }
  .header__logo-header {
    margin-top: 7px;
    order: 1;
    margin-left: 0; }
  .header__user-nav {
    margin-right: -6px; } }

.logo-header {
  width: 90px;
  height: 15px;
  position: relative; }

.logo-header img {
  width: 90px;
  height: 15px; }

@media (min-width: 768px) {
  .logo-header {
    width: 100px;
    height: 21px; }
    .logo-header--event img {
      display: none; }
  .logo-header__link--event {
    width: 100px;
    height: 21px;
    margin-right: 20px; }
    .logo-header__link--event::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 30px;
      left: 4px;
      top: -4px;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1032 20.4375L5.66569 15M5.66569 15L11.1032 9.5625M5.66569 15L24.999 15' stroke='%230191D3' stroke-width='1.8' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A"); }
  .logo-header img {
    width: 100px;
    height: 21px; } }

.main-nav {
  position: relative; }
  .main-nav--open {
    padding-bottom: 150px; }

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #0F111D;
  width: 100vw;
  top: 40px;
  left: -15px; }
  .main-nav__list--hidden-mobile {
    display: none; }

.main-nav__item {
  display: flex; }

.main-nav__link {
  display: block;
  margin: 0 auto;
  padding: 5px 0; }
  .main-nav__link--current {
    color: #0191D3; }

.main-nav__toggle {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 12px; }
  .main-nav__toggle--close svg {
    display: none; }
  .main-nav__toggle--close::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 15px;
    background-color: #A6AAB7;
    left: 8px;
    top: -1px;
    transform: rotate(45deg); }
  .main-nav__toggle--close::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 15px;
    background-color: #A6AAB7;
    left: 8px;
    top: -1px;
    transform: rotate(135deg); }

@media (min-width: 768px) {
  .main-nav--open {
    padding-bottom: 0px; }
  .main-nav__toggle {
    display: none; }
  .main-nav__list {
    padding-top: 0px;
    position: initial;
    flex-direction: row;
    width: unset;
    max-width: 384px;
    margin-left: 40px; }
    .main-nav__list--hidden-mobile {
      display: flex; }
  .main-nav__item:not(:last-child) {
    margin-right: 20px; }
  .main-nav__link {
    padding: 0;
    padding-top: 2px; } }

.main-slide {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../img/image53.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding: 0;
  padding-bottom: 70px;
  min-height: 570px;
  border-radius: 16px; }
  .main-slide--digga {
    background-image: url("../img/image41.jpg"); }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .main-slide {
    background-image: url("../img/image53@2x.jpg"); }
    .main-slide--digga {
      background-image: url("../img/image41@2x.jpg"); } }

.main-slide__title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px; }
  .main-slide__title--digga {
    color: #0F111D;
    font-size: 50px;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px; }

.main-slide__author {
  text-align: center;
  margin: 0;
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px; }
  .main-slide__author--digga {
    color: #0F111D;
    font-size: 55px;
    display: block;
    margin: 0 auto; }

.main-slide__description {
  text-align: center;
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 25px; }
  .main-slide__description--digga {
    color: #0F111D;
    display: block;
    margin: 0 auto;
    margin-bottom: 300px; }

.main-slide__address {
  font-style: normal;
  text-align: center; }

.main-slide__address-icon {
  position: relative;
  top: 7px;
  left: -2px; }

.main-slide__more {
  margin-top: 8vw;
  background: rgba(15, 17, 29, 0.76);
  padding: 0px 28px;
  padding-bottom: 20px;
  border-radius: 16px; }

@media (max-width: 377px) {
  .main-slide__more {
    margin-top: 10px; } }

.main-slide__info {
  width: 100%;
  padding-top: 7px;
  padding-right: 19px;
  margin-bottom: 22px; }

.main-slide__date,
.main-slide__date-value,
.main-slide__price,
.main-slide__price-value {
  margin: 0;
  padding: 0; }

.main-slide__price,
.main-slide__date {
  margin-bottom: 9px;
  letter-spacing: 0.5px; }

.main-slide__date-value,
.main-slide__price-value {
  text-transform: lowercase;
  font-size: 16px;
  color: #A6AAB7; }
  .main-slide__date-value:not(:last-child),
  .main-slide__price-value:not(:last-child) {
    margin-bottom: 10px; }

.main-slide__more-btn {
  display: block;
  border: none;
  background-color: #0191D3;
  border-radius: 10px;
  padding: 14px 59px;
  color: white;
  font-size: 18px;
  white-space: nowrap;
  margin: 0;
  margin-left: 4px; }
  .main-slide__more-btn--listen {
    margin: 0 auto; }

@media (min-width: 716px) {
  .main-slide {
    padding-top: 58px; }
  .main-slide__description--digga {
    margin-bottom: 90px; } }

@media (min-width: 716px) {
  .main-slide {
    padding-top: 58px; }
  .main-slide__more {
    margin-top: 16px;
    padding-bottom: 37px;
    max-height: 266px; } }

@media (min-width: 916px) {
  .main-slide {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 148px;
    padding-top: 158px;
    padding-right: 152px;
    padding-bottom: 60px;
    min-height: 500px; }
    .main-slide--event {
      padding-bottom: 100px;
      padding-top: 195px; }
      .main-slide--event .main-slide__more {
        margin-top: 30px; }
    .main-slide--digga {
      padding-top: 180px;
      padding-left: 145px; }
  .main-slide__title {
    text-align: left;
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 50px;
    line-height: 68px; }
    .main-slide__title--digga {
      margin-bottom: 24px; }
  .main-slide__author {
    text-align: left;
    margin: 0;
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px; }
    .main-slide__author--digga {
      font-size: 30px;
      margin-bottom: 10px; }
  .main-slide__description {
    text-align: left;
    margin: 0;
    margin-bottom: 13px;
    width: 418px;
    font-size: 18px;
    line-height: 25px; }
    .main-slide__description--digga {
      font-size: 20px;
      margin-bottom: 22px; }
  .main-slide__address {
    text-align: left; }
  .main-slide__more-btn--listen {
    margin: 0;
    padding-left: 85px;
    padding-right: 60px;
    position: relative; }
    .main-slide__more-btn--listen::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 19px;
      top: 15px;
      left: 55px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.76683 16.648C4.54863 18.9034 2.93953 20.0312 1.5723 19.6343C0.205078 19.2374 0.205078 17.6425 0.205078 14.4529V6.02736C0.205078 2.8377 0.205078 1.24287 1.5723 0.845969C2.93953 0.44907 4.54863 1.57679 7.76683 3.83222L13.7779 8.04497C15.2544 9.07977 15.9926 9.59717 15.9926 10.2401C15.9926 10.8831 15.2544 11.4005 13.7779 12.4353L7.76683 16.648Z' fill='white'/%3E%3C/svg%3E%0A"); } }

.main-slider {
  position: relative;
  overflow: hidden;
  min-height: 575px;
  top: 0;
  left: 0;
  border-radius: 16px; }

.main-slider__btn {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 2%;
  border: none;
  border-radius: 50%;
  width: 38px;
  height: 36.7px;
  background-color: rgba(1, 145, 211, 0.5); }
  .main-slider__btn::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 10px;
    border-radius: 10px;
    background-color: #fff;
    transform: rotate(45deg);
    top: 10px;
    left: 18px; }
  .main-slider__btn::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 10px;
    border-radius: 10px;
    background-color: #fff;
    transform: rotate(135deg);
    top: 15px;
    left: 18px; }
  .main-slider__btn--next {
    left: unset;
    right: 2%;
    transform: scale(-1); }

.main-slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  width: calc(100% * 4);
  min-height: 500px; }

.main-slider__slide-wrapper {
  width: 33.33333%;
  border-radius: 16px; }

@media (min-width: 733px) and (max-width: 916px) {
  .main-slider {
    min-height: 380px; } }

@media (min-width: 915px) {
  .main-slider {
    min-height: 500px; } }

.main {
  background-color: #161929;
  margin-bottom: 47px; }
  .main--event .main__menu {
    display: none; }
  .main--event .main__main-slider {
    min-height: 570px; }

@media (min-width: 733px) and (max-width: 915px) {
  .main--event .main__main-slider {
    min-height: 420px; } }

.main__wrapper {
  width: 100%;
  max-width: 1423px;
  margin: 0 auto;
  padding-left: 39px;
  padding-right: 40px;
  padding-top: 35px; }

.main__menu {
  margin-bottom: 38px; }

.main__main-slider,
.main__slider {
  margin-bottom: 33px; }
  .main__main-slider--round,
  .main__slider--round {
    margin-bottom: 70px; }
  .main__main-slider--for-round,
  .main__slider--for-round {
    margin-bottom: 70px; }
  .main__main-slider--square,
  .main__slider--square {
    margin-bottom: 70px; }
  .main__main-slider:last-child,
  .main__slider:last-child {
    margin-bottom: 0; }
  .main__main-slider--video-player,
  .main__slider--video-player {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 70px; }

.main__popups {
  position: relative; }

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }

.menu__item {
  border-radius: 100px;
  padding: 8px 14px;
  margin-bottom: 10px;
  background-color: #0F111D;
  margin-right: 10px; }
  .menu__item--current {
    padding: 8px 12px;
    background-color: #0191D3; }

.menu__link {
  font-size: 16px; }

@media (min-width: 768px) {
  .menu__item {
    margin-bottom: 0; } }

.slider--player {
  padding: 0 30px;
  padding-top: 5px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.slider__title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px; }

.slider__title {
  margin: 0;
  font-weight: 600;
  font-size: 20px; }

.slider__more {
  font-weight: 600;
  font-size: 20px;
  color: #0191D3; }

.slider__list-wrapper {
  width: 100%;
  overflow: hidden; }

.slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 1344px;
  justify-content: space-between; }

.slider__slide-wrapper--video {
  margin-right: 23px; }

.slider__player {
  max-width: 536px; }

.slider__tracklist-wrapper {
  position: relative;
  margin: 0 auto;
  height: 555px;
  overflow: hidden;
  border-radius: 12px; }

@media (min-width: 1333px) {
  .slider__tracklist-wrapper {
    margin: 0; } }

.slide {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden; }
  .slide--video {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 319px; }
  .slide:hover .slide__hover, .slide:focus-within .slide__hover {
    width: 200px;
    left: 0;
    height: 200px; }
    .slide:hover .slide__hover--gray:hover, .slide:focus-within .slide__hover--gray:hover {
      background-color: rgba(15, 17, 29, 0.58); }
  .slide:hover .slide__text, .slide:focus-within .slide__text {
    filter: blur(3px); }

.slide__hover {
  position: absolute;
  left: -100%; }

.slide__title {
  order: 4;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px; }
  .slide__title--round {
    margin: 0 auto; }

.slider__title-wrapper--tracklist {
  margin-bottom: 37px; }

.slide__title-link {
  color: #ffffff; }

.slide__img-link--video {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative; }
  .slide__img-link--video::before {
    cursor: pointer;
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='22.9972' cy='23.1691' r='22.4191' fill='%230191D3' fill-opacity='0.6'/%3E%3Cpath d='M25.176 29.5767C21.9578 31.8322 20.3487 32.9599 18.9815 32.563C17.6143 32.1661 17.6143 30.5712 17.6143 27.3816V18.9561C17.6143 15.7664 17.6143 14.1716 18.9815 13.7747C20.3487 13.3778 21.9578 14.5055 25.176 16.7609L31.187 20.9737C32.6636 22.0085 33.4018 22.5259 33.4018 23.1688C33.4018 23.8118 32.6636 24.3292 31.187 25.364L25.176 29.5767Z' fill='white'/%3E%3C/svg%3E%0A"); }

.slide__img-link--round {
  margin-bottom: 14px; }

.slide__img-link--square {
  margin-bottom: 10px; }

.slide__img-link--text {
  margin-bottom: 15px; }

.slide__text {
  width: 200px;
  margin: 0;
  padding-top: 49px;
  padding-left: 27px;
  padding-right: 23px;
  padding-bottom: 60px;
  border-radius: 12px;
  color: #ffffff;
  line-height: 21px;
  background-color: #0F111D; }

.slide__img {
  order: 1;
  border-radius: 16px; }
  .slide__img--round {
    border-radius: 50%; }

.slide__author {
  order: 2;
  margin: 0;
  font-weight: 400;
  font-size: 16px; }
  .slide__author--round {
    margin: 0 auto;
    line-height: 15px;
    margin-bottom: 4px; }

.slide__info {
  display: inline;
  margin: 0;
  order: 3;
  margin-left: 100px; }

slider__tracklist-wrapper {
  margin: 0 auto; }

.user-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: 2px; }

.user-nav__item:not(:last-child) {
  margin-right: 10px; }

.user-nav__btn {
  border: none;
  background-color: transparent;
  margin: 0;
  margin-top: 5px;
  padding: 0; }
  .user-nav__btn--avatar {
    border: 1px solid #131524;
    border-radius: 50%;
    margin-top: -2px; }

@media (min-width: 768px) {
  .user-nav__item:not(:last-child) {
    margin-right: 32px; } }

.event {
  width: 100%;
  margin-bottom: 45px; }

.event__title {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff; }

.event__text {
  max-width: 580px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  line-height: 22px; }

.event__time,
.event__weekpart,
.event__time-value {
  margin: 0;
  padding: 0; }

.event__time {
  display: flex;
  flex-wrap: wrap;
  width: 245px;
  margin: 0 auto; }

.event__weekpart {
  margin-right: 5px; }

.event__socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 35px;
  flex-wrap: wrap; }

.event__socials-icon {
  width: 25px;
  height: 25px; }

.event__tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 420px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-bottom: 20px; }

.event__tag-item {
  background-color: #0F3D5C;
  padding: 5px 16px;
  border-radius: 10px;
  margin-bottom: 14px; }
  .event__tag-item:not(:last-child) {
    margin-right: 10px; }

.event__tag-link {
  color: #ffffff;
  letter-spacing: -1px; }

.event__buttons-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 390px;
  width: 100%;
  margin: 0 auto; }

.event__button {
  border: none;
  background-color: transparent; }
  .event__button--main {
    background-color: #0191D3;
    border-radius: 10px;
    padding: 14px 50px;
    color: white;
    font-size: 18px;
    margin: 0;
    margin-left: 4px;
    white-space: nowrap; }
  .event__button:not(:last-child) {
    margin-right: 33px; }
  .event__button:not(:first-child) {
    transform: translateY(-5px); }
  .event__button:last-child {
    transform: translateX(-15px); }

.event__map {
  margin: 0 auto;
  max-width: 345px;
  transform: translateX(5px);
  position: relative;
  border-radius: 15px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 14px; }

.event__map iframe {
  width: 100%;
  max-width: 345px;
  border-radius: 15px; }

.event__map-pin {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -45px;
  left: 50%;
  margin-left: -15px; }

.event__address {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 35px; }

@media (min-width: 819px) {
  .event {
    display: flex;
    justify-content: space-between;
    padding-top: 5px; }
  .event__text {
    text-align: left; }
  .event__time {
    margin: 0;
    margin-bottom: 30px; }
  .event__socials {
    margin: 0;
    margin-left: 5px;
    margin-bottom: 35px; }
  .event__tag-list {
    margin: 0;
    margin-bottom: 20px;
    padding-top: 5px; }
  .event__buttons-wrapper {
    margin: 0; }
  .event__map {
    margin: 0;
    margin-bottom: 14px; }
  .event__address {
    margin: 0;
    margin-bottom: 35px; } }

@media (min-width: 870px) {
  .event {
    padding: 0 60px; }
  .event__button--main {
    padding: 14px 59px; } }

.calendar {
  max-width: 346px;
  background-color: #1E2133;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 23px;
  padding-bottom: 41px;
  padding-left: 27px;
  padding-right: 27px; }

.calendar__add-btn {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: #0191D3;
  display: flex;
  padding: 0;
  margin-bottom: 16px; }

.calendar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 6px;
  padding-left: 2px;
  font-size: 15px; }

.calendar__btn-icn {
  width: 21px;
  height: 20px;
  margin-right: 5px; }

.calendar__item {
  display: flex;
  font-display: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  width: 20px;
  height: 80px; }
  .calendar__item:not(:last-child) {
    margin-right: 28px; }
  .calendar__item--active {
    position: relative; }
    .calendar__item--active::before {
      position: absolute;
      content: "";
      width: 32px;
      height: 80px;
      background-color: rgba(1, 145, 211, 0.5);
      border-radius: 20px;
      left: -7px; }
  .calendar__item--approved {
    position: relative; }
    .calendar__item--approved::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      background-color: #009C64;
      border-radius: 50%;
      left: 50%;
      margin-left: -4px;
      top: 86px; }

.calendar__date {
  color: #ffffff; }

.party {
  width: 100%;
  max-width: 345px;
  margin: 0 auto; }

.party__header-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.party__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff; }

.party__link {
  margin-top: 15px;
  color: #0191D3; }

.party__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  padding-top: 10px; }

.party__item:not(:first-child) {
  margin-left: -13px; }

.party__total {
  display: none; }

@media (min-width: 397px) {
  .party__total {
    display: inline-block;
    transform: translateY(-20px) translateX(15px); } }

.addition-info {
  font-size: 14px; }
  .addition-info--music {
    padding-top: 7px;
    text-align: center;
    font-size: 18px; }

.addition-info__button-icn {
  width: 15px;
  height: 15px; }
  .addition-info__button-icn--view {
    margin-right: 10px; }
  .addition-info__button-icn--headphones {
    width: 20px;
    height: 18px;
    margin-left: 1px; }

.tracklist {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  vertical-align: top; }
  .tracklist--player {
    max-width: 651px; }

@media (max-width: 1397px) {
  .tracklist {
    width: 651px;
    margin: 0 auto; } }

.tracklist__item {
  background-color: #0F111D;
  border-radius: 12px;
  max-width: 651px;
  max-height: 85px;
  margin-bottom: 28px; }
  .tracklist__item--with-authors {
    max-height: 224px; }

.tracklist__item-wrapper {
  padding-left: 20px;
  padding-right: 2px;
  padding-top: 13px;
  padding-bottom: 11px;
  display: flex; }

.tracklist__play {
  position: relative;
  border: none;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  background-color: transparent;
  border-radius: 10px; }
  .tracklist__play img {
    border-radius: 10px; }
  .tracklist__play--button::before {
    position: absolute;
    content: "";
    width: 31px;
    height: 31px;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.5914' cy='16.0862' r='15.5413' fill='%230191D3' fill-opacity='0.6'/%3E%3Cpath d='M17.1018 20.5281C14.8709 22.0916 13.7554 22.8734 12.8076 22.5982C11.8599 22.3231 11.8599 21.2175 11.8599 19.0064V13.1657C11.8599 10.9546 11.8599 9.84901 12.8076 9.57387C13.7554 9.29874 14.8709 10.0805 17.1018 11.644L21.2687 14.5643C22.2923 15.2817 22.8041 15.6404 22.8041 16.0861C22.8041 16.5318 22.2923 16.8904 21.2687 17.6078L17.1018 20.5281Z' fill='white'/%3E%3C/svg%3E ");
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.tracklist__info {
  margin: 0;
  margin-right: 57px;
  display: flex;
  flex-direction: column; }

.tracklist__author {
  font-size: 14px; }

.tracklist__songname {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal; }

.tracklist__time {
  display: block;
  margin: 0;
  margin-right: 100px;
  padding-top: 14px;
  font-size: 14px;
  color: #ffffff; }

@media (max-width: 768px) {
  .tracklist {
    width: 100%;
    justify-content: center;
    margin: 0 auto; }
  .tracklist__time {
    display: none; } }

.tracklist__controls {
  padding-top: 15px; }

.tracklist__btn {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none; }

.tracklist__btn-icn {
  width: 25px;
  height: 25px;
  background-color: transparent;
  margin-right: 17px; }

.tracklist__author-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #0A0C15;
  min-height: 141px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; }

.tracklist__author-item {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  align-self: start; }
  .tracklist__author-item:hover .tracklist__hover, .tracklist__author-item:focus .tracklist__hover {
    top: 0; }

.tracklist__hover {
  position: absolute;
  top: -100%;
  left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 33px;
  width: 89px;
  height: 89px;
  line-height: 16px; }

.tracklist__author-name {
  order: 2;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  transform: translateY(-10px); }

.tracklist__author-type {
  font-size: 10px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  order: 1; }

.hover-block {
  width: 100%;
  z-index: 10;
  padding-top: 40%; }

.hover-block__hover-btn-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: 140px;
  margin: 0 auto;
  margin-bottom: 27px;
  padding-top: 4px;
  justify-content: space-between; }

.hover-block__hover-btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent; }
  .hover-block__hover-btn:hover, .hover-block__hover-btn:active {
    opacity: 1; }
    .hover-block__hover-btn:hover svg, .hover-block__hover-btn:active svg {
      fill: #0191D3; }
  .hover-block__hover-btn--play {
    position: relative;
    width: 45px;
    height: 45px;
    margin-top: -6px;
    border-radius: 50%;
    background-color: rgba(1, 145, 211, 0.6); }
    .hover-block__hover-btn--play:hover, .hover-block__hover-btn--play:focus {
      opacity: 0.7; }
    .hover-block__hover-btn--play:active {
      opacity: 0.4; }
    .hover-block__hover-btn--play::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 19px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.76683 16.648C4.54863 18.9034 2.93953 20.0312 1.5723 19.6343C0.205078 19.2374 0.205078 17.6425 0.205078 14.4529V6.02736C0.205078 2.8377 0.205078 1.24287 1.5723 0.845969C2.93953 0.44907 4.54863 1.57679 7.76683 3.83222L13.7779 8.04497C15.2544 9.07977 15.9926 9.59717 15.9926 10.2401C15.9926 10.8831 15.2544 11.4005 13.7779 12.4353L7.76683 16.648Z' fill='white'/%3E%3C/svg%3E%0A"); }
  .hover-block__hover-btn--pause {
    position: relative;
    width: 40px;
    height: 45px;
    margin-top: -6px;
    border-radius: 50%;
    background-color: rgba(1, 145, 211, 0.6); }
    .hover-block__hover-btn--pause:hover, .hover-block__hover-btn--pause:focus {
      opacity: 0.7; }
    .hover-block__hover-btn--pause:active {
      opacity: 0.4; }
    .hover-block__hover-btn--pause::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 19px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64209 2.23633C3.64209 1.4079 2.97052 0.736328 2.14209 0.736328C1.31366 0.736328 0.64209 1.4079 0.64209 2.23633H3.64209ZM0.64209 19.879C0.64209 20.7074 1.31366 21.379 2.14209 21.379C2.97052 21.379 3.64209 20.7074 3.64209 19.879H0.64209ZM0.64209 2.23633V19.879H3.64209V2.23633H0.64209Z' fill='white'/%3E%3Cpath d='M11.9292 2.23633C11.9292 1.4079 11.2576 0.736328 10.4292 0.736328C9.60077 0.736328 8.9292 1.4079 8.9292 2.23633H11.9292ZM8.9292 19.879C8.9292 20.7074 9.60077 21.379 10.4292 21.379C11.2576 21.379 11.9292 20.7074 11.9292 19.879H8.9292ZM8.9292 2.23633V19.879H11.9292V2.23633H8.9292Z' fill='white'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat; }

.hover-block__button-icn {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  fill: #ffffff; }

.hover-block__info {
  display: block;
  margin: 0 auto;
  width: 84px; }

.player {
  max-width: 536px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 60px;
  border-radius: 12px;
  font-size: 30px;
  position: relative;
  z-index: 2; }

@media (min-width: 1333px) {
  .player {
    margin: 0; } }

@media (min-width: 768px) {
  .player {
    width: 536px; } }

.player__title {
  margin: 0;
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 90px; }

.player__author {
  font-weight: normal;
  font-size: 29px;
  margin-bottom: 10px; }

.player__controls {
  display: flex;
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 110px;
  justify-content: space-between; }

.player__btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent; }
  .player__btn--play, .player__btn--pause {
    width: 103px;
    height: 103px;
    background-color: rgba(1, 145, 211, 0.6);
    border-radius: 50%;
    position: relative; }
  .player__btn--play::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.76683 16.648C4.54863 18.9034 2.93953 20.0312 1.5723 19.6343C0.205078 19.2374 0.205078 17.6425 0.205078 14.4529V6.02736C0.205078 2.8377 0.205078 1.24287 1.5723 0.845969C2.93953 0.44907 4.54863 1.57679 7.76683 3.83222L13.7779 8.04497C15.2544 9.07977 15.9926 9.59717 15.9926 10.2401C15.9926 10.8831 15.2544 11.4005 13.7779 12.4353L7.76683 16.648Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .player__btn--pause::before, .player__btn--pause::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 45px;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='47' viewBox='0 0 25 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.15845 2.77734C5.15845 1.39663 4.03916 0.277344 2.65845 0.277344C1.27774 0.277344 0.158447 1.39663 0.158447 2.77734H5.15845ZM0.158447 43.618C0.158447 44.9987 1.27774 46.118 2.65845 46.118C4.03916 46.118 5.15845 44.9987 5.15845 43.618H0.158447ZM0.158447 2.77734V43.618H5.15845V2.77734H0.158447Z' fill='white'/%3E%3Cpath d='M24.3422 2.77734C24.3422 1.39663 23.2229 0.277344 21.8422 0.277344C20.4615 0.277344 19.3422 1.39663 19.3422 2.77734H24.3422ZM19.3422 43.618C19.3422 44.9987 20.4615 46.118 21.8422 46.118C23.2229 46.118 24.3422 44.9987 24.3422 43.618H19.3422ZM19.3422 2.77734V43.618H24.3422V2.77734H19.3422Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.player__btn-icn {
  width: 34px;
  height: 34px; }
  .player__btn-icn--share {
    fill: #ffffff; }

.player__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; }
  .player__img-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 12px; }

.player__info {
  font-size: 27px; }
  .player__info svg {
    width: 32px;
    height: 32px;
    margin-top: 4px; }

.stick-player {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(22, 25, 41, 0.43);
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  padding-right: 100px; }

.stick-player__controls {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-right: 7%; }

.stick-player__button {
  background-color: transparent;
  border: none; }
  .stick-player__button--play {
    position: relative;
    width: 45px;
    height: 45px;
    margin-top: 4px;
    border-radius: 50%;
    background-color: rgba(1, 145, 211, 0.6); }
    .stick-player__button--play:hover, .stick-player__button--play:focus {
      opacity: 0.7; }
    .stick-player__button--play:active {
      opacity: 0.4; }
    .stick-player__button--play::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 19px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.76683 16.648C4.54863 18.9034 2.93953 20.0312 1.5723 19.6343C0.205078 19.2374 0.205078 17.6425 0.205078 14.4529V6.02736C0.205078 2.8377 0.205078 1.24287 1.5723 0.845969C2.93953 0.44907 4.54863 1.57679 7.76683 3.83222L13.7779 8.04497C15.2544 9.07977 15.9926 9.59717 15.9926 10.2401C15.9926 10.8831 15.2544 11.4005 13.7779 12.4353L7.76683 16.648Z' fill='white'/%3E%3C/svg%3E%0A"); }
  .stick-player__button--pause {
    position: relative;
    width: 45px;
    height: 45px;
    margin-top: 4px;
    border-radius: 50%;
    background-color: rgba(1, 145, 211, 0.6); }
    .stick-player__button--pause:hover, .stick-player__button--pause:focus {
      opacity: 0.7; }
    .stick-player__button--pause:active {
      opacity: 0.4; }
    .stick-player__button--pause::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 19px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.64209 2.23633C3.64209 1.4079 2.97052 0.736328 2.14209 0.736328C1.31366 0.736328 0.64209 1.4079 0.64209 2.23633H3.64209ZM0.64209 19.879C0.64209 20.7074 1.31366 21.379 2.14209 21.379C2.97052 21.379 3.64209 20.7074 3.64209 19.879H0.64209ZM0.64209 2.23633V19.879H3.64209V2.23633H0.64209Z' fill='white'/%3E%3Cpath d='M11.9292 2.23633C11.9292 1.4079 11.2576 0.736328 10.4292 0.736328C9.60077 0.736328 8.9292 1.4079 8.9292 2.23633H11.9292ZM8.9292 19.879C8.9292 20.7074 9.60077 21.379 10.4292 21.379C11.2576 21.379 11.9292 20.7074 11.9292 19.879H8.9292ZM8.9292 2.23633V19.879H11.9292V2.23633H8.9292Z' fill='white'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat; }

.stick-player__icon--prev {
  transform: scaleX(-1); }

.stick-player__position {
  width: 470px; }

.stick-player__addition {
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto; }

.position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.position__scale {
  width: 80%;
  height: 3px;
  background-color: #848484;
  background-image: linear-gradient(to right, #0191D3 0%, #0191D3 50%, transparent 50%, transparent 100%); }
  .position__scale--video {
    width: 85%; }

.position__handle {
  position: absolute;
  background: #0191D3;
  border: 2px solid #FFFFFF;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  left: 50%;
  cursor: -webkit-grab;
  cursor: grab; }

.video-player {
  position: relative;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #0a0c15; }

.video-player__screen {
  width: 100%; }

.video-player__controls {
  padding: 0 3%;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 530px; }

.video-player__button {
  position: absolute;
  top: -700%;
  left: 50%;
  transform: translateX(-50%);
  width: 103px;
  height: 103px;
  border: none;
  border-radius: 50%; }
  .video-player__button--play {
    background-color: rgba(1, 145, 211, 0.6); }
    .video-player__button--play:hover, .video-player__button--play:focus {
      opacity: 0.7; }
    .video-player__button--play:active {
      opacity: 0.4; }
    .video-player__button--play::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 46px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='46' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.76683 16.648C4.54863 18.9034 2.93953 20.0312 1.5723 19.6343C0.205078 19.2374 0.205078 17.6425 0.205078 14.4529V6.02736C0.205078 2.8377 0.205078 1.24287 1.5723 0.845969C2.93953 0.44907 4.54863 1.57679 7.76683 3.83222L13.7779 8.04497C15.2544 9.07977 15.9926 9.59717 15.9926 10.2401C15.9926 10.8831 15.2544 11.4005 13.7779 12.4353L7.76683 16.648Z' fill='white'/%3E%3C/svg%3E%0A"); }
  .video-player__button--pause {
    background-color: rgba(1, 145, 211, 0.6); }
    .video-player__button--pause:hover, .video-player__button--pause:focus {
      opacity: 0.7; }
    .video-player__button--pause:active {
      opacity: 0.4; }
    .video-player__button--pause::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 46px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='46' viewBox='0 0 25 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.22363 2.63916C5.22363 1.25845 4.10434 0.13916 2.72363 0.13916C1.34292 0.13916 0.223633 1.25845 0.223633 2.63916H5.22363ZM0.223633 43.4798C0.223633 44.8605 1.34292 45.9798 2.72363 45.9798C4.10434 45.9798 5.22363 44.8605 5.22363 43.4798H0.223633ZM0.223633 2.63916V43.4798H5.22363V2.63916H0.223633Z' fill='white'/%3E%3Cpath d='M24.4077 2.63916C24.4077 1.25845 23.2884 0.13916 21.9077 0.13916C20.527 0.13916 19.4077 1.25845 19.4077 2.63916H24.4077ZM19.4077 43.4798C19.4077 44.8605 20.527 45.9798 21.9077 45.9798C23.2884 45.9798 24.4077 44.8605 24.4077 43.4798H19.4077ZM19.4077 2.63916V43.4798H24.4077V2.63916H19.4077Z' fill='white'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat; }

.video-player__position {
  width: 70%;
  margin-right: auto;
  color: white; }

.video-player__time {
  color: white;
  margin-right: 8%;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px; }

.video-player__addition {
  display: flex; }

.video-player__add-button {
  background-color: transparent;
  border: none; }

.video-player__user-info-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 45px;
  padding-top: 17px;
  align-items: flex-start; }

.video-player__user-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; }

.video-player__user-button {
  background-color: transparent;
  border: none; }

.video-player__info {
  margin: 0;
  font-size: 18px;
  line-height: 25px; }

.video-player__comments-link {
  margin: 0;
  margin-top: 35px;
  margin-left: 3.2%; }
  .video-player__comments-link a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF; }

.author-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #0A0C15;
  min-height: 141px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; }

.author-list__author-link {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  align-self: start;
  display: flex; }

.author-list__hover {
  position: absolute;
  top: -100%;
  left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 33px;
  width: 89px;
  height: 70px;
  line-height: 16px; }

.author-list__author-item {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 28px;
  align-self: start; }
  .author-list__author-item:hover .author-list__hover, .author-list__author-item:focus .author-list__hover {
    top: -5px; }

.author-list__author-name {
  order: 1;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF; }

.author-list__author-type {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF; }

.comments {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #0A0C15; }

.comments__comment {
  margin: 0;
  margin-bottom: 20px; }

.comment__name a,
.comment__name,
.comment__text {
  margin: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* or 134% */
  color: #A6AAB7; }

.comment__top {
  display: flex;
  margin-bottom: 5px; }

.comment__name a {
  font-size: 16px; }

.comment__text {
  font-size: 18px;
  color: white; }

.comment__text-area {
  padding-left: 14px; }

.comment__button {
  background-color: transparent;
  border: none;
  margin-right: 9px; }

.comment__time {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 9px; }

.comment__reply-button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #0191D3; }

.send-message-form {
  margin: 0;
  padding: 0 40px;
  background: #0A0C15;
  border-radius: 0px 0px 12px 12px;
  display: flex;
  align-items: center;
  padding-bottom: 70px; }

.send-message-form__user-avatar {
  margin-right: 14px; }

.send-message-form__input {
  border: 1px solid #3F424A;
  background-color: transparent;
  border-radius: 10px;
  width: auto;
  min-width: 297px;
  min-height: 34px;
  padding-left: 10px;
  margin-top: 3px;
  margin-right: 25px;
  color: white; }

.send-message-form__btn {
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #0191D3; }
